.addteacher-button {
    background: #F6AC6D;
    border-radius: 10px;
    top: 150px;
    color: rgb(148, 80, 21);
    font-size: 5px;
    height: 70px;
    position: fixed;
    right: 20px;
    width: 70px;
    z-index: 2;
    border-style: none;
    justify-content: center;
    display: flex;
}

