.course-wrapper {
    display: flex;
    flex-direction: row;
    max-height: 300px;
    transition: 0.25s;
}

.course {
    background: #EE78CE;
    padding: 10px;
    height: 200px;
    width: 240px;
    font-style: normal;
    font-size: 20px;
    color: whitesmoke;
    border-radius: 5px;
    margin: 8px;
    font-family: 'Tahoma';
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.course_name{
    font-size: 1rem;
    margin-top: -30px;
}
.subtituloc{
    color:white;
    margin-bottom: 0px;
    padding: 5px;
    margin:0;
    margin-top: 5px;
    margin-left: 15px;
    font-family: 'Tahoma';
    font-weight: 600;
}

.contenidoc{
    color:white;
    margin:0;
    margin-left: 40px;
    font-family: 'Tahoma';
    margin-bottom: 10px;
}

.delete_course {
    background: #EE78CE;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    height: 25px;
    width: 25px;
    border-style: none;
    margin-top: 0px;
    align-self: flex-end;
    margin-bottom: 20px;
}