.formTeacher{
    background-color: #F6AC6D;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 400px;
    margin-right: 400px;
    min-width: 400px;
    width: 400px;
    border-radius: 30px;
    margin-top: 5rem;
    
}

.tituloformt{
    font-family: 'Tahoma';
    color: #C8752D;
    font-weight: bold;
}

.buttonTformt{
    border-radius: 5px;
    height: 35px;
    width: 70px;
    background-color: #C8752D;
    color: white;
    border-style: none;
}



.inputTeach {
    width: 85%;
    background-color: transparent;
    border: none;
    color:white;
    outline: none;
    border-bottom: 1px solid #C8752D;
    font-size: 1em;
    font-weight: 300;
    padding-bottom: 10px;
    margin-top: 10px;
    width: 250px;
    
}
  
.inputTeach::placeholder {
    color: white;
    font-style: italic;
}
