.addprovider-buttonp {
    background: #2A9779;
    border-radius: 10px;
    top: 150px;
    color: rgb(10, 90, 67);
    font-size: 5px;
    height: 70px;
    position: fixed;
    right: 20px;
    width: 70px;
    z-index: 2;
    border-style: none;
}

