.addaddcourse-button {
    background: rebeccapurple;
    border-radius: 10px;
    top: 150px;
    color: #410357;
    font-size: 5px;
    height: 70px;
    position: fixed;
    right: 20px;
    width: 70px;
    z-index: 2;
    border-style: none;
}

