.addbook-button {
    background: #EE78CE;
    border-radius: 10px;
    top: 150px;
    color: rgb(151, 32, 120);
    font-size: 5px;
    height: 60px;
    position: fixed;
    right: 20px;
    width: 70px;
    z-index: 2;
    border-style: none;
}

.agregar{
    font-size: 2.5rem;
}