.updateprovider-button {
    background: rgb(10, 90, 67);
    border-radius: 10px;
    top: 230px;
    color: rgb(29, 134, 101);
    font-size: 5px;
    height: 70px;
    position: fixed;
    right: 20px;
    width: 70px;
    z-index: 2;
    border-style: none;
}

.agregar{
    font-size: 2.5rem;
}